

.panel{
	box-shadow: 0 0 5px white;
}
.panel-body{
	text-align:center;
}
.panel-header{
	text-align:center;
}
.judul{
	text-align:right;
	color:#fff;
	font-size:2.5em;
	margin-top:1em;
	font-weight:bold;
}
.jud{
	text-align:left;
	color:#fff;
	font-size:2.5em;
	margin-top:1em;
	font-weight:bold;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(0) {
  color: blue;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(1) {
  color: #b82e2e;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(2) {
  color: #3366cc;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(3) {
  color: #f90;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(4) {
  color: #6a0;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(5) {
  color: #d47;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(6) {
  color: #909;
}
/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(7) {
  color: #dc3912;
}
/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(8) {
  color: #109618;
}
/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(9) {
  color: #0099c6;
}

/* line 26, ../sass/pizza.scss */
ul[data-pie-id] {
  list-style: none;
  padding: 10px;
}

#svg{
	padding-right:3em;
}

