body {
  /* Location of the image */
  background-image: url(../images/background.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  /* background-color:#464646; */
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
   
   
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}


.side_bar{
	height:100%;
	width:6em;
	position:fixed;
	box-shadow: 0 0 10px white;
	background-color:#fff;
}

@media only screen and (max-width: 768px) {
	.side_bar {
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		height:100%;
		width:0em;
		position:none;
		box-shadow:none;
		background-color:none;
	}
  }